<%= render partial: 'shared/navbar' %>

<h1>Edit your Listing</h1>
<hr>
<form action="/users/<%=@p.id%>/update_listing" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <h3>Location:</h3>
    Address: <input type="text" name="property[address]" value="<%=@p.address%>"><br><br>
    State: <%= select_tag “property[state]“, options_for_select(us_states) %>
    Zip: <input type="text" name="property[zipcode]" value="<%=@p.zipcode%>"><br>
    <hr>
  <h3>Property Details:</h3>
    Type:
    <select name="property[building_type]">
      <option value="House">House</option>
      <option value="Condo">Condo</option>
      <option value="Townhouse">Townhouse</option>
      <option value="Apartment">Apartment</option>
      <option value="Mobile Home">Mobile Home</option>
    </select>
    <br><br>
    Year Built: <input type="date" name="property[year_built]" value="<%=@p.year_built%>"><br><br>
    Number of Beds:
    <select name="property[no_bed]">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
    (<%=@p.no_bed%>)
    &nbsp;&nbsp;&nbsp;
    Number of Baths:
    <select name="property[no_bath]">
      <option value="1">1</option>
      <option value="1.5">1.5</option>
      <option value="2">2</option>
      <option value="2.5">2.5</option>
      <option value="3">3</option>
      <option value="3.5">3.5</option>
      <option value="4">4</option>
    </select>
    (<%=@p.no_bath%>)
    <br><br>
    Garage: <input type="radio" name="property[garage]" value="true">Yes
            <input type="radio" name="property[garage]" value="false">No <br><br>
    Parking:
    <select name="property[parking]">
      <option value="Garage Parking Available">Garage Parking Available</option>
      <option value="Permit Parking Available">Permit Parking Available</option>
      <option value="Street Parking Available">Street Parking Available</option>
      <option value="No Parking Available">No Parking Available</option>
    </select>
    <hr>
  <h3>Pricing and Description:</h3>
    <textarea name="property[description]" rows="8" cols="80" placeholder="<%=@p.description%>"></textarea><br><br>
    Asking Price: <input type="integer" name="property[price]" value="<%=@p.price%>"><br><br>
    <hr>
    <select name="property[status]">
      <option value="For Rent">For Rent</option>
      <option value="For Sale">For Sale</option>
      <option value="Foreclosed">Foreclosed</option>
      <option value="New Construction">New Construction</option>
    </select>
    Your Phone Number: <input type="text" name="property[contact_phone]" value="<%=@p.contact_phone%>">
    <br><br><br>
    <input type="submit" value="Update Property">
</form>
<br><br>
<a href="/users/<%=@p.id%>/my_listing">Back to Listing</a>
