<!-- <%= render partial: 'shared/navbar' %>

<h1>Edit your Listing</h1>

<form action="/properties/hold_data" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <h3>Location:</h3>
    Address: <input type="text" name="address" value="<%= @p.address %>"><br><br>
    City: <input type="text" name="city" value="<%= @p.city %>">
    State: <%= select_tag "state", options_for_select(us_states, session[:state]) %>
    Zip: <input type="text" name="zipcode" value="<%=session[:zipcode]%>"><br>
    <hr>
  <h3>Property Details:</h3>
    Type: <%= select_tag "building_type", options_for_select(building_types, session[:building_type]) %>
    <br><br>
    Year Built: <input type="date" name="year_built" value="<%=session[:year_built]%>"><br><br>
    Number of Beds:
    <%= select_tag "no_bed", options_for_select(no_beds, session[:no_bed]) %>
    &nbsp;&nbsp;&nbsp;
    Number of Baths:
    <%= select_tag "no_bath", options_for_select(no_baths, session[:no_bath]) %>
    <br><br>
    Garage:
    <%= radio_button_tag 'garage', 'yes', (session[:garage] == "yes") %><label>Yes</label>
    <%= radio_button_tag 'garage', 'no', (session[:garage] == "no") %><label>No</label>
    <br><br>
    Parking: <%= select_tag "parking", options_for_select(parking_types, session[:parking]) %>
    <hr>
  <h3>Pricing and Description:</h3>
    <textarea name="description" rows="8" cols="80"><%=session[:description]%></textarea><br><br>
    Asking Price: <input type="integer" name="price" value="<%=session[:price]%>"><br><br>
    <hr>
    Status: <%= select_tag "status", options_for_select(statuses, session[:status]) %>
    Your Phone Number: <input type="text" name="contact_phone" value="<%=session[:contact_phone]%>">
    <br><br><br>
    <input type="submit" name="listing" value="Update Property">
</form>
<br><br>
<a href="/users/<%=@p.id%>/my_listing">Back to Listing</a> -->
