<%= render partial: 'shared/navbar' %>
<div class="container">


  <h3>Welcome, <%=current_user.first_name%>!</h3>

  <center>
    <h3>Here are your favorite properties!</h3><br><br>
      <table class="table table-striped" style="width:600px;">
      <tr>
          <th>Address</th>
          <th>Price</th>
          <th>Contact</th>
      </tr>
      <% @fav_properties.each do |p| %>
      <tr id="<%= p.id %>">
          <td><%=p.address%><%=p.state%> <%=p.zipcode%></td>
          <td>$<%=p.price%></td>
          <td><b><%=p.contact_name%> </b> <%=p.contact_phone%></td>
      </tr>
      <% end %>
    </table>
    <br>
    <hr>
    <hr>

    <h3>Here are the properties you are selling!</h3><br><br>
    <div id="thumbs">
      <% @listed_properties.each do |p| %>
        <a href="/users/<%=p.id%>/my_listing">

          <% @prop_images.each do |image|%>
            <%=image_tag image.image%>
            <%=p.address%>
            <%=p.state%>
            <%=p.zipcode%>
            <b>$<%=p.price%></b>
          <% end %>

      <% end %>
      </a>
      <span class="stretch"></span>
    </div>​
  </center>

  <br><br>
</div>
