<%= render partial: 'shared/navbar' %>

<h1>Confirm Your Listing</h1>

  <h3>Location:</h3>
    Address: <b><%=@address%></b><br><br>
    State: <b><%=@state%></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Zip: <b><%=@zipcode%></b><br><br>
    <hr>
  <h3>Property Details:</h3>
    Type: <b><%=@building_type%></b><br><br>
    Year Built: <b><%=@year_built%></b><br><br>
    Number of Beds: <b><%=@no_bed%></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Number of Baths: <b><%=@no_bath%></b><br><br>
    Garage: <% if @garage %> <b>Yes</b>
            <% else %> <b>No</b>
            <% end %>
    <br><br>
    Parking: <b><%=@parking%></b><br><br>
    Status: <b><%=@status%></b><br><br>
  <h3>Pricing and Description:</h3>
    Description: <b><%=@description%></b><br><br>
    Asking Price: <b><%=number_to_currency(@p.price)%></b><br><br>
    Property Tax: <b>$<%= "%.02f" % @property_tax%> (<%=@tax%>%)</b><br><br>
    <hr>
  <h3>Lister's Contact Information:</h3>
    Name: <b><%=@contact_name%></b><br><br>
    Email: <b><%=@contact_email%></b><br><br>
    Phone: <b><%=@contact_phone%></b>
    <hr>

<%= link_to "Post Listing!", '/properties/create', method: :post %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/properties/edit_listing">Edit Listing</a>
