  <head>
    <meta charset="utf-8">
    <title>Property Detail</title>

  </head>
  <body>

    <%= render partial: 'shared/navbar' %>

<center>

  <h1>Property Detail Page</h1>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide" src="/assets/house1.jpeg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">

          <p class="subtitles"><%= @p.address %>, <%= @p.city %>, <%= @p.state %><br>
            Contact: <%= @p.contact_name %> <br> Telephone: <%= @p.contact_phone %></p>
        </div>
        <div class="container">
          <div class="carousel-caption">
          </div>
        </div>
      </div>
</center>


<div class="imagecontainer">
<div id="thumbs">

    <span class="stretch"></span>
</div>​
</div>

<center>
<div class="container">
  <table class="table table-striped table-bordered table-hover">
      <tbody>
          <tr>
            <th>Price:</th>
              <td><%=@p.price %></td>
          </tr>
          <tr>
            <th>Taxes:</th>
              <td><%= @p.tax %></td>
          </tr>
        <tr>
            <th>Building Type:</th>
            	<td><%=@p.building_type%></td>
          </tr>
          <tr>
            <th>Year Built </th>
              <td><%=@p.year_built%>/td>
          </tr>
          <tr>
            <th>Status: </th>
              <td><%= @p.status %></td>
          </tr>
      </tbody>
  </table>
</div>
<div class="container1">
  <table class="table table-striped table-bordered table-hover">
      <tbody>
          <tr>
            <th>Bedrooms</th>
              <td><%=  @p.no_bed%></td>
          </tr>
          <tr>
            <th>Baths:</th>
              <td><%= @p.tax %></td>
          </tr>
        <tr>
            <th>Building Type:</th>
              <td><%=@p.no_bath%></td>
          </tr>
          <tr>
            <th>Garage: </th>
              <td>
                <% if @p.garage %>
                  <%= "Yes" %>
                <% else %>
                  <%= "No" %>
                <% end %>
                </td>
          </tr>
          <tr>
            <th>Parking: </th>
              <td><%= @p.parking %></td>
          </tr>
      </tbody>
    </table>
</div>
</center>

</body>
