<%= render partial: 'shared/navbar' %>
<div id="map" style="display:inline-block;"></div>
<script>
  function initMap() {

    var current_location = new google.maps.LatLng(41.901695, -87.7094092);

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: current_location
    });
    var marker = new google.maps.Marker({
      position: current_location,
      map: map
    });

    var infoWindow = new google.maps.InfoWindow;

    // var searchBox = new google.maps.places.SearchBox(document.getElementById('map'));
    //
    // google.maps.event.addListener(searchBox, function(){
    //   var places = searchBox.getPlaces();
    //   var bounds = new google.maps.LatLngBounds();
    //   var i, place;
    //   for(i=0; place=places[i]; i++){
    //     bounds.extend(place.geometry.location);
    //     marker.setPosition(place.geometry.location);
    //   }
    //   map.fitBounds(bounds);
    //   map.setZoom(15);
    // });
    //

    $.getJSON('/properties/properties_json', function (results) {
      for (var i = 0; i < results.length; i++) {
        console.log(results[i]);
        var latLng = new google.maps.LatLng(results[i].latitude,results[i].longitude);
        var marker = new google.maps.Marker({
          position: latLng,
          map: map
        });
      }
    })

    //GEOLOCATION
    if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Your current location');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }


</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-sQVuX8b2ECGCusIws9k7Jta3g2-n6zg&callback=initMap&libraries=places">
</script>
<script type="text/javascript">
// $(document).ready(function () {
//
//
//   $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
//     var target = $(e.target).attr("href") // activated tab
//     alert(target);
//   })
//  $.get('/some_partial_thing', function (partial_html) {
//    add it to your html using jquery ...
// })
//
// });

</script>
<div class="q
ueries" style="display:inline-block; vertical-align:top;">
  <div id="map"></div>
  <h2>Real Estate</h2>
  <nav>
      <ul id="myTab" class="nav nav-pills">
        <li class="<%= 'active' if params[:controller] == 'properties' && params[:action] == 'index' %>"><a href="/properties">Home</a></li>
        <!-- <li class="active"><a href="/properties" data-toggle="tab">Home</a></li> -->

        <li class="<%= 'active' if params[:controller] == 'properties' && params[:action] == 'most_popular' %>"><a href="/properties/most_popular">Most Popular</a></li>
        <!-- <li class=""><a href="/properties/most_popular" data-toggle="tab">Most Popular</a></li> -->

        <li class="<%= 'active' if params[:controller] == 'properties' && params[:action] == 'newest' %>"><a href="/properties/newest">Most Recent</a></li>
        <!-- <li class=""><a href="/properties/newest" data-toggle="tab">Most Recent</a></li> -->

        <li class="<%= 'active' if params[:controller] == 'properties' && params[:action] == 'low_to_high' %>"><a href="/properties/low_to_high">Rent (low to high)</a></li>
        <!-- <li class=""><a href="/properties/low_to_high" data-toggle="tab">Rent (low to high)</a></li> -->
      </ul>
  </nav>

  <div class="listings" style="background-color:grey;">
    <table class="table table-striped" style="width:600px;">
      <tr>
          <th>Address</th>
          <th>Price</th>
          <th>Contact</th>
          <th></th>
      </tr>
      <% @p.each do |a| %>
      <tr>
          <td><%=a.address%>,<%=a.state%>
            <%=a.zipcode%></td>
          <% if a.status == "For Rent"%>
            <td>$<%=a.price%>/month</td>
          <% else %>
            <td>$<%=a.price%>/month</td>
          <% end %>
          <td><b><%=a.contact_name%></b>
            <p><%=a.contact_email%></p><p>Phone: <%=a.contact_phone%></p>
          </td>
          <td><a href="/properties/<%=a.id%>/detail_page">Details</a></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
