<%= render partial: 'shared/navbar' %>
<div id="map" style="display:inline-block;"></div>
<script>
  function initMap() {
    var current_location = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: current_location
    });
    var marker = new google.maps.Marker({
      position: current_location,
      map: map
    });
  }

  $(document).ready(function()
  {
    navigator.geolocation.getCurrentPosition(initMap)
  });


  var script = document.createElement('script');
  script.src =

  window.eqfeed_callback = function(results) {
        for (var i = 0; i < results.features.length; i++) {
          var coords = results.features[i].geometry.coordinates;
          var latLng = new google.maps.LatLng(coords[1],coords[0]);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
        }
      }

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-sQVuX8b2ECGCusIws9k7Jta3g2-n6zg&callback=initMap">
</script>

<div class="q
ueries" style="display:inline-block; vertical-align:top;">

  <h2>Real Estate</h2>
  <nav>
      <ul class="nav nav-pills">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#/properties/most_popular">Most Popular</a></li>
        <li><a href="/properties/newest">Most Recent</a></li>
        <li><a href="/properties/low_to_high">Rent (low to high)</a></li>
      </ul>
  </nav>
  <div class="listings" style="background-color:grey;">
    <table class="table table-striped" style="width:600px;">
      <tr>
          <th>Address</th>
          <th>Price</th>
          <th>Contact</th>
          <th></th>
      </tr>
      <% @p.each do |a| %>
      <tr>
          <td><%=a.address%>,
            <p><%=a.city%>, <%=a.state%> <%=a.zipcode%></p></td>
          <% if a.status == "For Rent"%>
            <td>$<%=a.price%>/month</td>
          <% else %>
            <td>$<%=a.price%>/month</td>
          <% end %>
          <td><b><%=a.contact_name%></b>
            <p><%=a.contact_email%></p><p>Phone: <%=a.contact_phone%></p>
          </td>
          <td><a href="/properties/<%=a.id%>/detail_page">Details</a></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
