<%= render partial: 'shared/navbar' %>
<h1>List your Property</h1>
<hr>

<form action="/properties/hold_data" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h4>Location:</h4>
    Address: <input type="text" name="address"><br><br>
    City: <input type="text" name="city">
    State: <%= select_tag "state", options_for_select(us_states) %>
    Zip: <input type="text" name="zipcode"><br>
    <hr>
  <h4>Property Details:</h4>
    Type: <%= select_tag "building_type", options_for_select(building_types) %>
    <br><br>
    Year Built: <input type="date" name="year_built"><br><br>
    Number of Beds: <%= select_tag "no_bed", options_for_select(no_beds) %>
    Number of Baths: <%= select_tag "no_bath", options_for_select(no_baths) %>
    <br><br>
    Garage: <input type="radio" name="garage" value="yes">Yes
            <input type="radio" name="garage" value="no">No <br><br>
    Parking: <%= select_tag "parking", options_for_select(parking_types) %>
    <hr>
  <h4>Pricing and Description:</h4>
    <textarea name="description" rows="8" cols="80" placeholder="Enter in a description"></textarea><br><br>
    Asking Price: <input type="integer" name="price"><br><br>
    <hr>
    Status: <%= select_tag "status", options_for_select(statuses) %>
    Your Phone Number: <input type="text" name="contact_phone">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="submit" class="btn btn-info" value="List Property">
</form>
