<%= render partial: 'shared/navbar' %>
<p>
  Signed In: <%=current_user.first_name%><br>
</p>

<hr>

<h1>List your Property</h1>

<form action="/properties/hold_data" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h4>Location:</h4>
    Address: <input type="text" name="address"><br><br>
    City: <input type="text" name="city">
    State: <%= select_tag "state", options_for_select(us_states) %>
    Zip: <input type="text" name="zipcode"><br>
    <hr>
  <h4>Property Details:</h4>
    Type:
    <select name="building_type">
      <option value="House">House</option>
      <option value="Condo">Condo</option>
      <option value="Townhouse">Townhouse</option>
      <option value="Apartment">Apartment</option>
      <option value="Mobile Home">Mobile Home</option>
    </select>
    <br><br>
    Year Built: <input type="date" name="year_built"><br><br>
    Number of Beds:
    <select name="no_bed">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
    Number of Baths:
    <select name="no_bath">
      <option value="1">1</option>
      <option value="1.5">1.5</option>
      <option value="2">2</option>
      <option value="2.5">2.5</option>
      <option value="3">3</option>
      <option value="3.5">3.5</option>
      <option value="4">4</option>
    </select>
    <br><br>
    Garage: <input type="radio" name="garage" value="true">Yes
            <input type="radio" name="garage" value="false">No <br><br>
    Parking:
    <select name="parking">
      <option value="Garage Parking Available">Garage Parking Available</option>
      <option value="Permit Parking Available">Permit Parking Available</option>
      <option value="Street Parking Available">Street Parking Available</option>
      <option value="No Parking Available">No Parking Available</option>
    </select>
    <hr>
  <h4>Pricing and Description:</h4>
    <textarea name="description" rows="8" cols="80" placeholder="Enter in a description"></textarea><br><br>
    Asking Price: <input type="integer" name="price"><br><br>
    <hr>
    <select name="status">
      <option value="For Rent">For Rent</option>
      <option value="For Sale">For Sale</option>
      <option value="Foreclosed">Foreclosed</option>
      <option value="New Construction">New Construction</option>
    </select>
    Your Phone Number: <input type="text" name="contact_phone">
    <br><br><br>
    <%= link_to 'Add Property Image', new_prop_image_path %>
    <input type="submit" name="listing" value="List Property">

</form>
