<%= render partial: 'shared/navbar' %>

<h1 style="color:blue;"><b>Get a Zestimate!</b></h1>
<hr>
<h2><b>Address: </b></h2>
<h3><p><%=@p.address%></p>, <%=@p.state%> <%=@p.zipcode%></h3>


<div style="padding:20px 400px; color:blue;">
  <form action="/properties/<%=@p.id%>/zestimate" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <h1>Who is your country's president?</h1>
      <br>
    <h3>
      <input type="radio" name="president" value="obama">  Barack Obama
      <br><br>
      <input type="radio" name="president" value="trump">  Donald Trump<br><br><br>
      <input style="color:red;" type="submit" value="Get Zestimate > ">
    </h3>
  </form>
</div>
