<%= render partial: 'shared/navbar' %>
<center>
<h1><b>Contact an Agent!</b></h1>
<hr>
<h4>Contact any one of our accredited leasing agents below to help you buy or sell your home:</h4>
<br>
<table class="table table-striped" style="width:600px;">
  <tr>
      <th>Agent Name</th>
      <th>Email</th>
      <th>Phone Number</th>
  </tr>
  <% @agents.each do |a| %>
  <tr>
      <td><%=a.name%></td>
      <td><%=a.email%></td>
      <td><%=a.phone%></td>
  </tr>
  <% end %>
</table>
</center>
<hr>

<h3 style="color:blue;">Sign up to be an agent!</h3>
<br>
<div class="form-group row" style="margin-left:100px; width:300px;">
  <form action="/agents/create" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    Name: <input class="form-control" type="text" name="name"><br>
    Email: <input class="form-control" type="text" name="email"><br>
    Phone: <input class="form-control" type="text" name="phone"><br>
    <input type="submit" class="btn" value="Sign Up!">
  </form>
</div>
