<!DOCTYPE html>
<html>
  <head>
    <title>NewZillow</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        width: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

  </head>

  <body>

    <div class="error" style="color:red;">
      <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
          <%= e %>
        <% end %>
      <% end %>
    </div>

    <div class="error" style="color:red;">
      <% if flash[:messages] %>
        <% flash[:messages].each do |e| %>
          <%= e %>
        <% end %>
      <% end %>
    </div>

    <% if flash[:message] %>
      <% flash[:message].each do |msg| %>
        <h3 style="color:red;"><i><%=msg%></h3></i>
      <%end%>
    <%end%>

    <% if flash[:notice] %>
      <div class="notice" style="color:blue;"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
